<div id="navigation-bar-container">
    <ul id="navigation-bar">
        <form id="logout-form" method="GET", action="/login">
            <div id="logout-button-container">
                <input type="hidden">
                <button id="logout-button" type="submit">Logout</button>
            </div>
        </form>
    </ul>
</div>