<!DOCTYPE html>
<html>
<head>
    <title>
        {{pageTitle}}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/{{css}}.css">
    {{#if requiresJS}}
        <script src="./js/{{js}}.js" defer></script>
    {{/if}}
</head>
<body>
    {{{body}}}
</body>
</html>
