<body>
<h1>
    Robert Ozdoba
</h1>
<h2>About me</h2>
<p>
    I'm an identical twin. I have a bachelors of Molecular Biology and Biochemistry with a Certificate in Genomics
    from Simon Fraser University and am working towards a Diploma in Computer Systems Technology at BCIT. 
    My interests are watches, weight lifting, volleyball, and spike-ball.
</p>
<table>
    <tr>
        <th>Courses (Winter 2020)</th>
        <th>&nbsp;&nbsp;&nbsp;4711 Labs</th>
    </tr>
    <tr>
        <td>
            <li>
                <a href=“https://www.bcit.ca/study/outlines/20201047992”>COMP 4711</a>
            </li>
            <li>
                <a href=“https://www.bcit.ca/study/outlines/20201086095”>COMP 4735</a>
            </li>
            <li>
                <a href=“https://www.bcit.ca/study/outlines/20201087216”>COMP 4964</a>
            </li>
            <li>
                <a href=“https://www.bcit.ca/study/outlines/20201087217”>COMP 4968</a>
            </li>
            <li>
                <a href=“https://www.bcit.ca/study/outlines/20201087213”>BLAW 3600</a>
            </li>
            <li>
                <a href=“https://www.bcit.ca/study/outlines/20201087628”>MATH 3042</a>
            </li>
        </td>
        <td>
            <ul>
                <li>
                    <a href="#">Lab 1</a>
                </li>
                <li>
                    <a href="../PrevLabs/Lab2/artists_directory.html">Lab 2</a>
                </li>
                <li>
                    <a href="../PrevLabs/Lab3/artists_directory.html">Lab 3</a>
                </li>
                <li>
                    <a href="../PrevLabs/Lab4/artists_directory.html">Lab 4</a>
                </li>
                <li>
                    <a href="./artists.html">Lab 5</a>
                </li>
                <li>
                    <a href="/login">Lab 6</a>
                </li>
            </ul>
        </td>
    </tr>
</table>
</body>
