<div id="directory-container">
    <div id="title-container">
        <p>{{heading}}</p>
    </div>
</div>

<div id="login-container">
        <form id="login-form" method="POST" action="/login/attempt">
            <div id="login-input-container">
                <div class="input-container" id="username-container">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input id="username-input" type="text" placeholder="username" name="username">
                </div>
                <hr>
                <div class="input-container" id="password-container">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input id="password-input" type="text" placeholder="password" name="password">
                </div>
            </div>
            <div id="login-button-container">
                <button id="login-button" value="submit">Login</button>
            </div>
        </form>
    </div>
</div>
    
    